:root {
  font-family: 'Poppins';
  font-weight: 400;
  color-scheme: light;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f0f0f0;
  }
}

@layer components {
  .btn {
    @apply font-semibold py-2 px-4 rounded-md transition-colors duration-100 text-sm;
  }
}